/**
 * Colors #colors
 */
/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*# sourceMappingURL=fonts.css.map */
