.rte h2
  margin-bottom: 21px
  font-size: 28px
  line-height: 31px
  font-weight: bold

.rte p
  margin-bottom: 21px
  font-size: 16px
  line-height: 19px
  font-weight: normal

.page-title
  font-size: 28px

.heading
  margin: 40px 0 20px
  font-size: 24px
  overflow: hidden

.text-center
  text-align: center

.text-right
  text-align: right



