header#header.header
    img.header__nav(src="images/header.jpg" alt="")
    .header__nav--bottom-wrap
        #headerNavBottom.header__nav--bottom
            ul
                li.header__nav--bottom-logo: a.scroll-btn(href="#topDoogs")
                    img(src="images/DOOGEE.png" alt)
                li: a.scroll-btn(href="#performance") Характеристики
                li: a.scroll-btn(href="#video") Видео
                li: a.popup-btn(href="#review") Отзывы
                li: a.scroll-btn(href="#footer") Аксессуары
                li: a.scroll-btn.btn(href="#bottomDoogs") Купить




