- var pageTitle = "Citrus | Index";

doctype html
html(lang='ru')
  include components/head/head

  body
    .container
      .wrap
        include components/header/header
        include  components/goods/goods
        include components/goodsSpecification/goodsSpecification
        include components/video/video
        include components/goodsSpecificationGame/goodsSpecificationGame
        include  components/goodsFeatures/goodsFeatures
        include components/goodsSpecificationStatic/goodsSpecificationStatic
        include components/review/review
        include components/goodsBottom/goodsBottom
      include components/footer/footer
    include components/scripts/scripts




