section.goods-specification
    .goods-specification__wrap.goods-specification__wrap--online
        .goods-specification__description.rte(data-aos="fade-left")
            <svg class="goods-specification__description-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="340px" height="547px"> <path  fill-rule="evenodd"  opacity="0.949" fill="rgb(79, 117, 166)" d="M340.000,0.149 L-0.000,61.999 L-0.000,547.000 L340.000,482.104 L340.000,0.149 Z" > </path></svg>
            .goods-specification__description-spec
                h2 #[span Сплошной Online!]
                p Facebook, Вконтакте, Instagram, twitter, Skype и еще уйма онлайн сервисов, которые всегда будут с тобой.
                p Современная жизнь – это постоянное общение и постоянный online. Зачем оставлять это все в четырех стенах? Будь активным – будь Doogee.
                p Будь всегда в курсе событий, а самое главное сам создавай события. Делись впечатлениями, твори и никогда не останавливайся.


