section.goods-specification
    .goods-specification__wrap.goods-specification__wrap--game
        .goods-specification__description.rte(data-aos="fade-right")
            <svg  class="goods-specification__description-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="340px" height="547px"> <path fill-rule="evenodd"  fill="rgb(81, 173, 198)" d="M-0.000,-0.007 L340.000,61.861 L340.000,546.999 L-0.000,482.086 L-0.000,-0.007 Z" > </path></svg>
            .goods-specification__description-spec
                h2
                    span Процессор со
                    <br>
                    span стальными яйцами!

                p О да, процессор Dooogee X5 MediaTek MT 6580 имеет в наличие целых 4 ядра, которые бодро тянут современные игрушки. Сюда же можно приписать частоту в 1.3 ГГц и 1 Гб оперативной памяти.
                p Не самые высокие показатели, конечно. Но в своем сегменте этот смартфон уверенно занимает лидирующие позиции.


