section#video.section.video
    .rte(data-aos="fade-left" data-aos-duration="500")
        h2.text-center Любимые фильмы <br> в отличном качестве
        p.text-center Экран в 6“ с IPS матрицей и разрешением 1280х720рх позволяет не просто смотреть кино и ролики на мобилке. А наслаждаться просмотром! Это вам не обычное стеклышко. Смартфон снабжен действительно крутым экраном с яркими и насыщенными цветами. И эта прелесть будет с вами повсюду!
        .video
    .video-wrap.text-center(data-aos="fade-left" data-aos-offset="500")
        img(src="images/video-bg.png" alt="")
        iframe( width="575" height="320" src="https://www.youtube.com/embed/6ufgUhnrfYw?rel=0&amp;controls=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen)
