.btn
  display: inline-block
  width: auto
  height: 36px
  padding: 0 29px
  line-height: 34px
  background: $active-color
  border-radius: 4px
  font-size: 16px
  cursor: pointer
  border: none
  vertical-align: middle
  color: $white-color
  border-bottom: 2px solid #0561bf
  outline: none
  box-shadow: none
  text-decoration: none
  transition: all .33s ease
  letter-spacing: 1px

.btn:hover
  background-color: $active-color-hover
