.header__nav
  max-width: 100%
  display: block

.header__nav--bottom
  padding: 15px 10px
  border-bottom: 1px solid $border-color
  background-color: $white-color

.header__nav--bottom.sticky
  position: fixed
  top: 0
  left: 50%
  transform: translateX(-50%)
  width:  100%
  max-width: 1000px
  z-index: 10

.header__nav--bottom ul
  display: flex
  align-items: center

.header__nav--bottom ul li:not(.header__nav--bottom-logo) a:not(.btn)
  display: block
  font-size: 18px
  line-height: 19px
  color: $nav-color
  transition: all .33s ease
  text-decoration: none
  letter-spacing: .5px
  border-bottom: 1px solid transparent
  &:hover
    border-bottom: 1px solid $nav-color

.header__nav--bottom ul li:not(.header__nav--bottom-logo) a.active:not(.btn)
  border-bottom: 1px solid $nav-color

//.header__nav--bottom li a.btn

.header__nav--bottom ul li:not(.header__nav--bottom-logo)
  margin-right: 25px

.header__nav--bottom li.header__nav--bottom-logo
  margin-left: 22px
  margin-right: auto
