.goods-features
  margin-top: -40px
  margin-bottom: 50px

.goods-features__image
  margin-top: 5px

.goods-features-wrap
  display: flex
  align-items: center
  justify-content: center
  max-width: 695px
  margin: 0 auto

.goods-features__item
  font-size: 16px
  line-height: 19px
  margin-bottom: 19px
  text-align: center
  padding: 0 10px
  width: 25%