.show-main,
.show-extra
  //display: none
  top: 0
  position: absolute
  visibility: hidden
  opacity: 0


.show-main.active,
.show-extra.active
  //display: block
  position: relative
  z-index: 2
  visibility: visible
  opacity: 1
  transition: all .33s ease

.show-btn
  position: relative
  z-index: 2

.show-btn i
  font-size: 12px
  vertical-align: middle