section#performance.goods-specification
    .goods-specification__wrap
        .goods-specification__images(data-aos="fade-right")
            .goods-specification__images-inner
                img(class="goods-specification__image active" src="images/phone-red.png" alt="" data-color="red")
                img(class="goods-specification__image" src="images/phone-blue.png" alt="" data-color="blue")
                img(class="goods-specification__image" src="images/phone-yellow.png" alt="" data-color="yellow")
                img(class="goods-specification__image" src="images/phone-green.png" alt="" data-color="green")
                img(class="goods-specification__image" src="images/phone-black.png" alt="" data-color="black")
                img(class="goods-specification__image" src="images/phone-pink.png" alt="" data-color="pink")
            ul.goods-specification__thumbnail
                li: a( href="#" data-color="pink" style="background-color: rgb(203, 146, 167" data-bg="rgb(203, 146, 167")
                li: a( href="#" data-color="blue" style="background-color: rgb(100, 183, 205);" data-bg="rgb(100, 183, 205)")
                li: a( href="#" data-color="green" style="background-color: rgb(111, 166, 80);" data-bg="rgb(111, 166, 80)")
                li: a.active(href="#" data-color="red" style="background-color: rgb(207, 85, 81);" data-bg="rgb(207, 85, 81)")
                li: a( href="#" data-color="yellow" style="background-color: rgb(203, 202, 97);" data-bg="rgb(203, 202, 97)")
                li: a( href="#" data-color="black" style="background-color: rgb(99, 99, 99);" data-bg="rgb(99, 99, 99)")



        .goods-specification__description.rte.show-wrap(data-aos="fade-left")
            <svg class="goods-specification__description-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="340px" height="547px"> <path  fill-rule="evenodd"  opacity="0.949" fill="rgb(207, 85, 81)" d="M340.000,0.149 L-0.000,61.999 L-0.000,547.000 L340.000,482.104 L340.000,0.149 Z" ></path> </svg>
            .goods-specification__description-spec.show-main.active
                h2
                    span Стоит каждой
                    <br>
                    span потраченной гривны!
                p Пора выбросить старую звонилку в мусорное ведро. Dooogee X5 – это шикарный смартфон с достойными характеристиками и потрясающей ценой.
                p #[strong Снимаем ограничения по функциональности!]
                p СМС и звонки – это уже давно не предел. И ограничиваться такими скудным запасом возможностей, как минимум не практично.

            .goods-specification__description-var.show-extra
                p
                    span #[strong Дисплей] <br> 6.0" HD 1280х720 IPS

                p
                    span #[strong Процессор]
                    span 4-ядерный MediaTek MT6580 (1.3 ГГц)
                    span Графический чип: Mali-400

                p
                    span #[strong Память]
                    span Оперативная память: 1 Гб
                    span Встроенная память: 8 Гб
                    span Поддержка MicroSD до 32 Гб

                p
                    span #[strong Камера]
                    span Основная камера: 5 Мп
                    span Фронтальная камера: 2 Мп
                p
                    span #[strong SIM]
                    span Количество SIM-карт: 2
            p.text-right
                a.show-btn(href="#" data-info="Инфо" data-performance="Характеристики") #[span Характеристики] #[i >>]






