.goods-specification__wrap
  min-height: 795px
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 90px 85px 150px 85px
  background: url('../images/section-bg.png'), url('../images/line-red.png') left bottom
  background-repeat: no-repeat
  h2
    margin-bottom: 14px
    color: rgb(207, 85, 81)
    transition: all .33s ease
    opacity: .92

.goods-specification__wrap.goods-specification__wrap--online
  padding-bottom:
  justify-content: flex-end
  background: url('../images/hand-bg.png') left 115px, url('../images/section-bg.png')
  background-repeat: no-repeat
  h2
    color: rgb(79, 117, 166)

.goods-specification__wrap.goods-specification__wrap--game
  background: url('../images/game-bg.png') calc(100% + 15px) 95px, url('../images/section-bg-right.png'), url('../images/line-blue.png') left bottom
  background-repeat: no-repeat
  h2
    color: rgb(81, 173, 198)

.goods-specification__images-inner
  position: relative
  width: 424px
  height: 576px
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    opacity: 0
    visibility: hidden
    transition: all 1.2s ease

  img.active
    opacity: 1
    visibility: visible
    z-index: 2
    transition: all .66s ease

ul.goods-specification__thumbnail
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-top: 20px

.goods-specification__thumbnail li
  display: block
  height: 28px
  width: 28px
  margin: 3px

.goods-specification__thumbnail li a
  display: block
  border: 4px solid $grey-color
  border-radius: 50%
  height: 100%
  transition: all .33s ease

.goods-specification__description-spec
  position: relative
  z-index: 2

.goods-specification__thumbnail li a.active
  border-width: 0

.goods-specification__description
  display: flex
  flex-direction: column
  justify-content: center
  padding: 80px 20px
  min-height: 550px
  position: relative
  width: 345px

.goods-specification__description-bg
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  path
    transition: all .66s ease

.goods-specification__description-var span
  display: block

.goods-specification__description h2 span
  padding: 2px
  line-height: 40px
  background-color: $white-color

.goods-specification__description p
  color: $white-color

.goods-specification__description a
  color: $white-color
  transition: all .33s ease
  text-decoration: none
  border-bottom: 1px solid $white-color
  &:hover
    border-color: transparent














