head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title #{pageTitle}
  link( rel="stylesheet" href="css/fonts.css")
  link( rel="stylesheet" href="css/critical.css")
  link( rel="stylesheet" href="css/global.css")