@font-face {
  font-family: $base-font;
  src: url($font-src + 'Ubuntu/UbuntuRegular/UbuntuRegular.eot');
  src: url($font-src + 'Ubuntu/UbuntuRegular/UbuntuRegular.woff') format('woff'),
  url($font-src + 'Ubuntu/UbuntuRegular/UbuntuRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $base-font;
  src: url($font-src + 'Ubuntu/UbuntuLight/UbuntuLight.eot');
  src: url($font-src + 'Ubuntu/UbuntuLight/UbuntuLight.woff') format('woff'),
  url($font-src + 'Ubuntu/UbuntuLight/UbuntuLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $base-font;
  src: url($font-src + 'Ubuntu/UbuntuMedium/UbuntuMedium.eot');
  src: url($font-src + 'Ubuntu/UbuntuMedium/UbuntuMedium.woff') format('woff'),
  url($font-src + 'Ubuntu/UbuntuMedium/UbuntuMedium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $base-font;
  src: url($font-src + 'Ubuntu/UbuntuBold/UbuntuBold.eot');
  src: url($font-src + 'Ubuntu/UbuntuBold/UbuntuBold.woff') format('woff'),
  url($font-src + 'Ubuntu/UbuntuBold/UbuntuBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}