.video
  margin-top: -30px
  margin-bottom: 25px

.video .rte
  max-width: 515px
  margin: 0 auto

.video-wrap
  position: relative
  margin-top: 40px
  iframe
    position: absolute
    top: 53px
    left: 50%
    transform: translateX(-50%)
    background-color: $body-bg
    border: none