section#features.goods-features
        .rte.text-center(data-aos="fade-right")
            h2
                span Зачем кнопки? Управляй
                <br>
                span жестами!
            img( class="goods-features__image" src="images/phone-features.jpg" alt="")
        .goods-features-wrap
            .goods-features__item(data-aos="fade-left") Горизонтальная линия, чтобы начать вызов
            .goods-features__item(data-aos="fade-left" data-aos-delay="200") Символ “M”, чтобы начать писать SMS
            .goods-features__item(data-aos="fade-left" data-aos-delay="400") Символ “W”, чтобы включить музыку
            .goods-features__item(data-aos="fade-left" data-aos-delay="600") Вертикальная линия, чтобы включить камеру